---
import Link from '../Link.astro';
import Paragraph from '../Paragraph.astro';
import Circle from '../Circle.astro';
---

<section>
    <div class="mb-8">
        <h2 class="text-2xl font-bold">about me</h2>
        <Paragraph>important stuff, more about my background, skills & stuff I did in my past on my <Link href="/cv">cv here</Link></Paragraph>
    </div>

    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> rust se at <Link href="https://aiperion.ai/">aiperion</Link>
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> profesionally, I'm mostly experienced in full stack development
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> in love with hackathons, especially web3 ones
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> passionate about literature, philosophy, and art
    </Paragraph>
</section>