---
import Link from '../Link.astro';
import Paragraph from '../Paragraph.astro';
import Circle from '../Circle.astro';
---

<section>
    <h2 class="text-2xl font-bold mb-4">about me</h2>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> rust software engineer at <Link href="https://aiperion.ai/">aiperion</Link>.
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> profesionally, I'm mostly experienced in full stack development.
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> in love with hackathons, especially web3 ones.
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> passionate about literature, philosophy, and art.
    </Paragraph>
</section>