---
import Link from '../Link.astro';
import Paragraph from '../Paragraph.astro';
import Circle from '../Circle.astro';
---

<section class="px-6 lg:px-0" id="about">
    <div class="mb-8">
        <h2 class="text-2xl font-bold">about me</h2>
        <Paragraph>general info, not much here, my introductory post says more, <Link href="/posts/hello-world">read it here</Link></Paragraph>
    </div>

    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> full stack dev \w backend role @ <Link href="https://aiperion.ai">aiperion</Link>, using rust & java
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> average hackathon enjoyer, especially web3 ones
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> passionate about literature, philosophy & art
    </Paragraph>
    <Paragraph>
        <span class="inline-block me-2">
            <Circle />
        </span> more about my background on my <Link href="/cv.pdf">cv here</Link>
    </Paragraph>
</section>