---
import Link from '../Link.astro';
import Paragraph from '../Paragraph.astro';
import Circle from '../Circle.astro';
---

<section>
    <h2 class="text-2xl font-bold mb-4">about me</h2>
    <Paragraph>
        <Circle /> rust software engineer at <Link href="https://aiperion.ai/">aiperion</Link>.<br />
    </Paragraph>
    <Paragraph>
        <Circle /> profesionally, I'm mostly experienced in full stack development.<br />
    </Paragraph>
    <Paragraph>
        <Circle /> in love with hackathons, especially web3 ones.<br />
    </Paragraph>
    <Paragraph>
        <Circle /> passionate about literature, philosophy, and art. I will pursue in future.
    </Paragraph>
</section>