<section>
    <h1 class="text-5xl font-bold mb-4">Tișcă Cătălin</h1>
    <div class="flex gap-4 items-center">
        <p>software engineer</p>

        <svg class="size-2">
            <circle cx="4" cy="5" r="2" fill="currentColor" />
        </svg>

        <p>full stack</p>
    </div>
</section>