---
import Circle from '../Circle.astro';
---

<section>
    <h1 class="text-5xl font-bold mb-4">Tișcă Cătălin</h1>
    <div class="flex gap-4 items-center">
        <p>software engineer</p>
        <Circle />
        <p>full stack</p>
        <Circle />
        <p>code 4 fun & profit</p>
    </div>
</section>