---
import Image from '../Image.astro';
---

<section class="flex gap-8 justify-center mx-auto relative w-full overflow-hidden">
    <Image src="/images/image_1_cbb8815e35.webp" alt="Image 1" className="rotate-[1.5deg]" />
    <Image src="/images/image_2_b271afe16d.webp" alt="Image 2" className="-rotate-[1.4deg]" />
    <Image src="/images/image_3_dbc7d64a57.webp" alt="Image 3" className="rotate-1" />
</section>