<div id="site-banner" class="relative isolate flex items-center gap-x-6 overflow-hidden rounded-lg border border-primary/10 bg-gradient-to-r from-secondary/20 to-accent/20 px-4 py-2.5 sm:px-3.5 dark:from-secondary/25 dark:to-accent/25">
  <div aria-hidden="true" class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl">
    <div
      style={{
        clipPath:
          'polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)'
      }}
      class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-secondary to-accent opacity-30 dark:opacity-40"
    />
  </div>

  <div aria-hidden="true" class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl">
    <div
      style={{
        clipPath:
          'polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)'
      }}
      class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-secondary to-accent opacity-30 dark:opacity-40"
    />
  </div>

  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <p class="text-sm/6 text-primary">
      ! haven't had the time (I was lazy) to publish my projects yet, this website is still a work in progress
    </p>
  </div>
</div>


